@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'typeWritter';
  src: url('/fonts/typewritter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a:hover,
button:hover,
.link:hover,
.cursor-pointer:hover,
input:hover,
textarea:hover,
select:hover,
[role="button"]:hover,
.card:hover,
.input:hover,
.textarea:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 15px rgba(220, 20, 60, 0.4);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
  outline: none;
}
